In [1]:
import pandas as pd

In [2]:
#First lets find the maximum column for all the rows
with open("test/_slash_detection_slash_vision_objects_slash_front.csv", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(max(col_count))] 

import pandas as pd
# inside range set the maximum value you can see in "Expected 4 fields in line 2, saw 8"
# here will be 8 
data = pd.read_csv("test/_slash_detection_slash_vision_objects_slash_front.csv",header = None,names=column_names )
data.to_csv("_slash_detection_slash_vision_objects_slash_front.csv", index=False)

C:\Users\g3097\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,1,2,3,4,5,13,15,22,23,66,69,70,73,74,81,83,85,86,87,88,89,101,104,107,110,116,118,125,126,169,172,173,176,177,184,186,188,189,190,191,192,204,207,210,213,219,221,228,229,272,275,276,279,280,287,289,291,292,293,294,295,307,310,313,316,322,324,331,332,375,378,379,382,383,390,392,394,395,396,397,398,410,413,416,419,425,427,434,435,478,481,482,485,486,493,495,497,498,499,500,501,513,516,519,522) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data

,0,1,2,3,4,5,6,7,8,9,...,513,514,515,516,517,518,519,520,521,522
0,rosbagTimestamp,header,seq,stamp,secs,nsecs,frame_id,objects,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1605252790870582650,NaN,1398,NaN,1605252790,840287966,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1605252790915699608,NaN,1399,NaN,1605252790,890169190,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1605252790970794099,NaN,1400,NaN,1605252790,940254726,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1605252791014712363,NaN,1401,NaN,1605252790,990210159,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6599,1605253120889253455,NaN,7996,NaN,1605253120,856501500,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6600,1605253120937650677,NaN,7997,NaN,1605253120,906342197,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6601,1605253120988543812,NaN,7998,NaN,1605253120,956389837,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6602,1605253121037717858,NaN,7999,NaN,1605253121,6398861,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6603,1605253121089031130,NaN,8000,NaN,1605253121,56558218,"""camera""",[],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
f = pd.read_csv("_slash_detection_slash_vision_objects_slash_front.csv", usecols=[0,15,90,91,92,93,95,118,193,194,195,196,198,221,296,297,298,299,301,324,399,400,401,402,404,427,502,503,504,505,507])

f.to_csv("cleaned.csv", index=False)

C:\Users\g3097\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,15,118,221,324,427) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
f["15"] = f["15"].map({'"RedLeft"':0,'"Red"':1,'"RedRight"':2,'"GreenLeft"':3,'"Green"':4,'"GreenRight"':5,'"Yellow"':6,'"Off"':'7','"YellowRight"':8})
f["118"] = f["118"].map({'"RedLeft"':0,'"Red"':1,'"RedRight"':2,'"GreenLeft"':3,'"Green"':4,'"GreenRight"':5,'"Yellow"':6,'"Off"':'7','"YellowRight"':8})
f["221"] = f["221"].map({'"RedLeft"':0,'"Red"':1,'"RedRight"':2,'"GreenLeft"':3,'"Green"':4,'"GreenRight"':5,'"Yellow"':6,'"Off"':'7','"YellowRight"':8})
f["324"] = f["324"].map({'"RedLeft"':0,'"Red"':1,'"RedRight"':2,'"GreenLeft"':3,'"Green"':4,'"GreenRight"':5,'"Yellow"':6,'"Off"':'7','"YellowRight"':8})
f["427"] = f["427"].map({'"RedLeft"':0,'"Red"':1,'"RedRight"':2,'"GreenLeft"':3,'"Green"':4,'"GreenRight"':5,'"Yellow"':6,'"Off"':'7','"YellowRight"':8})
f["0"] = "x"
f.to_csv("cleaned.csv", index=False)

In [6]:
with open("cleaned.csv",'r') as f:
    with open("updated_cleaned.csv",'w') as f1:
        next(f) # skip header line
        for line in f:
            f1.write(line)

In [7]:
import csv
import os

In [8]:
try:
    if not os.path.exists('txt'):
        os.makedirs('txt')
except OSError:
    print ('Error: Creating directory of data')




with open("updated_cleaned.csv", "r", ) as f:
    reader = csv.reader(f)

    rownumber = 0
    for row in reader:
        g=open('txt'+ '/'+str(rownumber-1)+".txt","w")
        for i in row:
            if(i == 'x'):
                g.write('')
            elif(i!=''):
                g.write(i + ' ')
            else:
                g.write('\n')
        rownumber = rownumber + 1
        g.close()
os.remove("txt/-1.txt")